body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(201, 198, 198);

}
.container{
    position: relative
}
.clock{
   
    width: 500px;
    height: 500px;
    border: 20px solid rgb(49, 82, 154);
   

    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 0px 9px rgba(228, 14, 146, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;

}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 30px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: brown;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   

}

.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 9px;
    
}
